@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x5nts8');
  src:  url('fonts/icomoon.eot?x5nts8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x5nts8') format('truetype'),
    url('fonts/icomoon.woff?x5nts8') format('woff'),
    url('fonts/icomoon.svg?x5nts8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e91f";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-whatsapp:before {
  content: "\ea93";
}
